env:
  node: true
  browser: true
  es6: true

parserOptions:
  ecmaVersion: 9

globals:
  metrics: true

rules:
  brace-style: 2
  comma-spacing: 2
  default-case: 2
  eol-last: 0
  eqeqeq: [1, "smart"]
  indent: [2, 2]
  key-spacing: 2
  keyword-spacing: 2
  new-parens: 2
  no-debugger: 2
  no-dupe-args: 2
  no-dupe-keys: 2
  no-duplicate-case: 2
  no-ex-assign: 2
  no-extra-parens: 1
  no-fallthrough: 2
  no-multi-spaces: 2
  no-throw-literal: 1
  no-restricted-globals: ["error", "self", "name"]
  no-undef: 2
  no-unreachable: 2
  no-unused-vars: 1
  padded-blocks: [2, "never"]
  quotes: [2, "single", "avoid-escape"]
  quote-props: [2, "as-needed"]
  semi: 2
  space-before-blocks: 2
  space-before-function-paren: [2, "always"]
  space-infix-ops: 2
  strict: 0
  valid-typeof: 2
